<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <title>Change Password</title>
</head>
<body>

  <div class="signin-container">
    <img src="https://robohash.org/{{ user.user_name }}.png?size=70x70&set=set5&bgset=bg2 " class="user-image" alt="User Image">
    <h1>Change Password</h1>
    <form method="post", action="/change-password">
      <label for="password-0">Type current password</label>
      <input type="password" id="password-0" name="password-0" placeholder="Enter your current password">
      <label for="password-0">Type new wanted password</label>
      <input type="password" id="password-1" name="password-1" placeholder="Enter your new password">
      <label for="password-2">Re-type  new Password:</label>
      <input type="password" id="password-2" name="password-2" placeholder="Enter your  new password Again">
      <button type="submit" class="signin-button">Change Password</button>
    </form>
    
  </div>

</body>
</html>
