<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}">
  <title>Side Menu Example</title>
</head>
<body>

  <div class="sidebar">
    <h1>Hello {{user.full_name}}!</h1>
    <form class="menu-form" action="settings" class="form-container" method="get">
      <div class="flex-container">
        <img src="https://robohash.org/{{ user.user_name }}.png?size=70x70&set=set5&bgset=bg2 ">
      <button type="submit" class="menu-button" name = "/settings" onclick="toggleButtonColor(this)">Settings</button>
      </div>
    </form>
    <form class="menu-form" action="/dash_board" method="get">
      <button type="submit" class="menu-button" name="/dash_board"onclick="toggleButtonColor(this)">Dash Board & stats</button>
    </form>
    <form class="menu-form" action="/upload_file_page" method="get">
      <button type="submit" class="menu-button" name="/upload_file_page" onclick="toggleButtonColor(this)">Upload Data</button>
    </form>
    <form class="menu-form" action="/file_explorer" method="get">
      <button type="submit" class="menu-button" name="/file_explorer" onclick="toggleButtonColor(this)">File Explorar</button>
    </form>

  </div>

  <div class="content">
    <!-- Your main content goes here -->
    <div class="charts-container">
        <!-- Your column content goes here -->
        <h1>DashBoard</h1>
        <!-- <button type="submit" class="signin-button">Sign In</button> -->
        <div class="charts-container">
            <div class="pie-charts">
              <h2>current Nodes</h2>
              <div class="pie-chart" id="pieChart1Container">
                <canvas id="pieChart1"></canvas>
                <h3>Pie Chart 1</h3>
              </div>
              <div class="pie-chart" id="pieChart2Container">
                <h2>Data info</h2>
                <canvas id="pieChart2" ></canvas>
                <h3>Pie Chart 2</h3>
              </div>
            </div>
            <div class="histogram" id="histogramContainer">
              <h2>Used Data across the devices</h2>
              <canvas id="histogram" ></canvas>
            </div>
          </div> 
    </div>
  
  </div>

</body>
<script>
    var data = {{ data | tojson | safe}}
    data = JSON.parse(data)
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='chart-data.js') }}"></script>
<script>
    function toggleButtonColor(button) {
  // Remove 'clicked' class from all buttons
  var buttons = document.querySelectorAll('.menu-button');
  buttons.forEach(function(btn) {
    btn.classList.remove('clicked');
  });

  // Add 'clicked' class to the clicked button
  button.classList.add('clicked');
}
</script>
</html>
