<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}">
  <title>Side Menu Example</title>
</head>
<body>

    <div class="sidebar">
        <h1>Hello {{user.full_name}}!</h1>
        <form class="menu-form" action="settings" class="form-container" method="get">
          <div class="flex-container">
            <img src="https://robohash.org/{{ user.user_name }}.png?size=70x70&set=set5&bgset=bg2 ">
          <button type="submit" class="menu-button" name = "/settings" onclick="toggleButtonColor(this)">Settings</button>
          </div>
        </form>
        <form class="menu-form" action="/dash_board" method="get">
          <button type="submit" class="menu-button" name="/dash_board"onclick="toggleButtonColor(this)">Dash Board & stats</button>
        </form>
        <form class="menu-form" action="/upload_file_page" method="get">
          <button type="submit" class="menu-button" name="/upload_file_page" onclick="toggleButtonColor(this)">Upload Data</button>
        </form>
        <form class="menu-form" action="/file_explorer" method="get">
          <button type="submit" class="menu-button" name="/file_explorer" onclick="toggleButtonColor(this)">File Explorar</button>
        </form>
    
      </div>

  <div class="content">
    <!-- Your main content goes here -->
    <div class="rounded-container">
        <!-- Your column content goes here -->
        <div class="hello-continer">
            <img src="https://robohash.org/{{ user.user_name }}.png?size=100x100&set=set5&bgset=bg2 ">
            <br>
            <h1>Hello {{ user.full_name }}!</h1>

        </div>
        <div class="aes-container">
                <input type="hidden" name="aes" id="aes" value="{{user.AES_key}}"/>
            <button class="show-AES-key" onclick="showContent()">Show AES Key</button>
            <textarea name="output" id="output" readonly  cols="width" rows="high"></textarea> 
        </div>
        <form class="menu-form" action="/" method="get">
            <button type="submit" class="switch-user-button" name="/signin">Switch User</button>
        </form>
        <form class="menu-form" action="/change-password" method="get">
            <button type="submit" class="show-AES-key" name="/change-password">Change Password</button>
        </form>
        <form class="menu-form" action="/signout" method="get">
            <button type="submit" class="signout-button" name="/signin">Sign Out</button>
        </form>
        
    </div>
  
  </div>

</body>
<script>
    function showContent() {
        var text = document.getElementById('aes').value;
        document.getElementById('output').innerText = text;
        document.getElementById('output').style.display = 'block'
    }
  function toggleButtonColor(button) {
  // Remove 'clicked' class from all buttons
  var buttons = document.querySelectorAll('.menu-button');
  buttons.forEach(function(btn) {
    btn.classList.remove('clicked');
  });

  // Add 'clicked' class to the clicked button
  button.classList.add('clicked');
}
</script>
</html>
