<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}">
  <title>Side Menu Example</title>
</head>
<body>

  <div class="sidebar">
    <form class="menu-form" action="settings" method="get">
      <button type="submit" class="menu-button" name = "/settings" onclick="toggleButtonColor(this)">Welcome Ariel</button>
    </form>
    <form class="menu-form" action="/dash_board" method="get">
      <button type="submit" class="menu-button" name="/dash_board"onclick="toggleButtonColor(this)">Dash Board & stats</button>
    </form>
    <form class="menu-form" action="/upload_file" method="get">
      <button type="submit" class="menu-button" name="/upload_file" onclick="toggleButtonColor(this)">Upload Data</button>
    </form>
    <form class="menu-form" action="/file_explorer" method="get">
      <button type="submit" class="menu-button" name="/file_explorer" onclick="toggleButtonColor(this)">File Explorar</button>
    </form>

  </div>

  <div class="content">
    <!-- Your main content goes here -->
    <div class="rounded-container">
        <!-- Your column content goes here -->
        <h1>Upload your data</h1>
        <!-- <button type="submit" class="signin-button">Sign In</button> -->
        <form action="{{  url_for('process_file')  }}" method="post" enctype="multipart/form-data">
          <label for="file">Choose a file:</label>
          <input class="file-input" type="file" id="file" name="file"> <!-- Specify allowed file types if needed -->
          <br>
          <input class="file-submit" type="submit" value="Upload File">
      </form>
      </div>
  
  </div>

</body>
<script>
   function toggleButtonColor(button) {
  // Remove 'clicked' class from all buttons
  var buttons = document.querySelectorAll('.menu-button');
  buttons.forEach(function(btn) {
    btn.classList.remove('clicked');
  });

  // Add 'clicked' class to the clicked button
  button.classList.add('clicked');
}
</script>
</html>
